In [1]:
import csv

In [2]:
def min_max_salary(file_path):
    with open(file_path, 'r') as file:
        reader = csv.reader(file)
        salary_data =[]

        for row in reader:
          if len(row)==2:
            name,salary = row[0],int(row[1])
            salary_data.append((name,salary))

        maximum_salary = max(salary_data,key=lambda x:x[1])
        minimum_salary = min(salary_data,key=lambda x:x[1])
        total_salary = sum(x[1] for x in salary_data)
        average_salary = total_salary / len(salary_data)
        return maximum_salary,minimum_salary,average_salary

In [3]:
file_path ="/content/salarysheet.csv"
results = min_max_salary(file_path)

In [4]:
for result in results:
  print(result)

('Hasan', 56000)
('Rafi', 34000)
45000.0

In [5]:
print(f"Maximum Salary: {results[0][0]} - {results[0][1]}")
print(f"Minimum Salary: {results[1][0]} - {results[1][1]}")
print(f"Average Salary: {results[2]}")

Maximum Salary: Hasan - 56000
Minimum Salary: Rafi - 34000
Average Salary: 45000.0